
.Reminder {
    display: flex;
    justify-content: flex-end;
    background: black;
    height: 50%;
    overflow: hidden;
    overflow-y: scroll;
    color: orange;
    font-size: 24px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.Reminder::-webkit-scrollbar {
    display: none;
}